.text-vertical-center {
	display: table-cell;
	text-align: center;
    vertical-align: middle;
}

.text-vertical-right {
	display: table-cell;
	text-align: right;
    vertical-align: middle;
}

.text-vertical-left-1 {
	display: table-cell;
	text-align: left;
    vertical-align: middle;
}

.text-center {
	display: table-cell;
    vertical-align: middle;
}
/* Top Section */
.top {
	display: table;
	position: relative;
	height: 100%;
	width: 100%;
	background-image: url(../bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

	/* Top Section Text */
	.header-text {
		color: #fff;
		font-size: 3.5em;
	}

	.sub {
		color: #fff;
		opacity: 0.2;
		margin-bottom: -20px;
		font-family: 'Merriweather', sans-serif;
		font-weight: 400;
	}

/* Section Transiton */
.btn-section {
	margin-top: 20px;
	background-color: #657c9e;
	border: none;
	border-radius: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	color: #fff;
	width: 20%;
	transition: all 0.25s ease-in-out;
}

.btn-section:active,
.btn-section:hover,
.btn-section:focus {
	background-color: #333c4a;
	color: #fff;
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.275);
	-webkit-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.275);
	-moz-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.275);
}

/* Assignments Section */
.assignments {
	display: table;
	margin-top: 0px;
	height: 38%;
	color: #fff;
	width: 100%;
	background-color: #9babc3;
}

	/* Latest Assignment */
	.latest-assignment {
		color: transparent;
		display: table;
		margin-left: 350px;
		z-index: 2; position: relative;
		padding: 200px;
		background-image: url(../02.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 20px;
		margin-top: -430px;
		box-shadow: 0 10px 20px rgba(0,0,0,0.3)
	}

	.assignments-text {
		margin-top: 0px;
		text-align: left;
		font-size: 3.5em;
		margin-left: 450px;
		text-shadow: 0px 6px 8px rgba(150, 150, 150, 0.375);
		-webkit-text-shadow: 0px 6px 8px rgba(150, 150, 150, 0.375);
		-moz-text-shadow: 0px 6px 8px rgba(150, 150, 150, 0.375);
	}

	.assignments-sub {
		text-align: left;
		margin-top: -10px;
		margin-left: 450px;
		max-width: 600px;
		opacity: 0.5;
		font-family: 'Merriweather', sans-serif;
	}
